<?xml version="1.0"?>
<MailConfigInfo>
	<Accounts>whservice@foxuc.com</Accounts>
	<Password>foxuc407043</Password>
	<SmtpServer>smtp.qq.com</SmtpServer>
	<Port>25</Port>
	<SmtpSenderEmail>whservice@foxuc.com</SmtpSenderEmail>
	<lossreportUrl>http://vip.foxuc.cn/ActivateClient.aspx</lossreportUrl>
</MailConfigInfo>