2014/04/15 10:21:26|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/15 10:27:38|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/15 10:31:56|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/15 10:32:00|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/15 10:33:49|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/15 10:37:23|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/15 10:37:42|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/15 10:37:43|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/15 10:46:11|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
