2014/04/14 18:28:12|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/14 18:28:54|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/14 18:28:58|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/14 18:29:03|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/14 18:29:14|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/14 18:29:23|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/14 18:30:11|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/14 18:32:37|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/14 18:34:59|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/14 18:36:05|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
2014/04/14 18:52:29|System.Net.Mail.SmtpException: 发送邮件失败。 ---> System.FormatException: 在邮件标头中找到无效的字符。
   在 System.Net.BufferBuilder.Append(String value, Int32 offset, Int32 count)
   在 System.Net.Mail.EHelloCommand.PrepareCommand(SmtpConnection conn, String domain)
   在 System.Net.Mail.EHelloCommand.Send(SmtpConnection conn, String domain)
   在 System.Net.Mail.SmtpConnection.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpTransport.GetConnection(String host, Int32 port)
   在 System.Net.Mail.SmtpClient.GetConnection()
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   --- 内部异常堆栈跟踪的结尾 ---
   在 System.Net.Mail.SmtpClient.Send(MailMessage message)
   在 Game.Facade.Mail.EmailBase.Send(Object email) 位置 E:\网狐站点\网狐棋牌\棋牌6603S\网站系统\THAdmin\Services\Game.Facade\Mail\EmailBase.cs:行号 292
